
        .zone-empty {
            background-color: #e893935d;
            border: 2px dashed #fecaca00;
        }
        .zone-occupied {
            
            border: 1px solid #e5e7eb00;
        }
        .employee-card {
            transition: all 0.2s ease-in-out;
        }
        .employee-card:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
        }
        .drag-over {
            background-color: #dbeafe;
            border: 2px dashed #3b82f6;
        }




        /* Ajoutez ce CSS */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


